header{
    width: 100%;
    background-color: lightskyblue;
    padding: 20px;
}

body{
    margin: 0px;
    padding: 0px;
}

.caja1{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: solid black;
}

.caja1:hover{
    background-color: rgb(72, 25, 126);
    transition-duration: 1s;
    font-size: larger;
}
.caja2{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: solid black;

}
.caja2:hover{
    background-color: rgb(116, 5, 116);
    transition-duration: 1s;
    font-size: large;
}
.caja3{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: solid black;
}
.caja3:hover{
    background-color: rgb(176, 55, 180);
    transition-duration: 1s;
    font-size: medium;

}
.caja4{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: solid black;
}
.caja4:hover{
    background-color: rgb(192, 33, 144);
    transition-duration: 1s;
    font-size: small
}

button{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
}

button:hover{
    scale: 1.1;
}